.impactfull-card {
    border: 1px solid transparent;
    border-image: linear-gradient(to top, #1500ff 0%, #1500ff 100%);
    border-image-slice: 1;
    background-color: transparent;
    backdrop-filter: blur(10px);
  }

.active-btn {
    color: #1500ff;
    background-color: transparent;
}

.item-container {
    height: 400px;
    overflow: hidden;
}

.item {
    background: transparent;
    position: relative;
}

.item img {
    opacity: 1;
    transition: opacity 0.35s;
    object-fit: cover;
}


.item .overlay {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px;
    text-align: center;
    border: 2px solid #1500ff;
    border-radius: 5px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
}

.item:hover .overlay {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.item:hover .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}

.item:hover img {
    opacity: 0.8;
}

.project_image {
    display: inline-block;
    width: 100%;
    height: 18rem;
    border-radius: .4rem;
}

@media only screen and (max-width: 768px) {
    .project_image {
        height: 16rem;
    }
}