.impactfull-card {
    border: 1px solid transparent;
    border-image: linear-gradient(to top, #1500ff 0%, #1500ff 100%);
    border-image-slice: 1;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.active-btn {
    color: #1500ff;
    background-color: transparent;
}

/* .item-container {
    height: 1000px;
    overflow: hidden;
} */

/* .item {
    background: transparent;
    position: relative;
} */

.paket-featured {
    width: 200px;
    position: absolute;
    top: 21px;
    right: -68px;
    transform: rotate(45deg);
    /* z-index: -1; */
    font-size: 13px;
    padding: 1px 0 3px 0;
    /* background: #0011ff; */
    color: #1500ff;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}


/* Styles for expanding the description */
/* .expanded {
    height: auto;
    opacity: 1;
    transform: translateY(0);
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  } */
  
  /* Styles for collapsing the description */
  /* .collapsed {
    height: auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  } */
  

/* .item img {
    opacity: 1;
    transition: opacity 0.35s;
    object-fit: cover;
} */


/* .item .overlay {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px;
    text-align: center;
    border: 2px solid #1500ff;
    border-radius: 5px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
} */

.item:hover .overlay {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/* .item:hover .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
} */

.item:hover img {
    opacity: 0.8;
}

/* .project_image {
    display: inline-block;
    width: 100%;
    height: 18rem;
    border-radius: .4rem;
} */

@media only screen and (max-width: 768px) {
    .project_image {
        height: 16rem;
    }
}