/* .blog_cover {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(36, 36, 36, 0.7), rgba(36, 36, 36, 0.9)), url('https://res.cloudinary.com/du541igfh/image/upload/v1679527637/Blog%20Portfolio%20Gilbert/blog_z0qviu.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
} */

.blog_image {
    display: block;
    width: 500px;
    height: 280px;
}

.main_blog_image {
    display: block;
    width: 700px;
    height: 400px;
}

@media only screen and (max-width: 500px) {
    .blog_image {
        max-width: 100%;
        height: 200px;
    }

    .main_blog_image {
        max-width: 100%;
        height: 200px;
    }
}