.blog_image {
    display: block;
    width: 500px;
    height: 280px;
}

.main_blog_image {
    display: block;
    width: 700px;
    height: 400px;
}

@media only screen and (max-width: 500px) {
    .blog_image {
        max-width: 100%;
        height: 200px;
    }

    .main_blog_image {
        max-width: 100%;
        height: 200px;
    }
}