.primary-button {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    width: 190px;
    height: 50px;
    /* border-width: 10px; */
    /* border-color: #1500ff; */
    background-color: #1500ff;
    transition-duration: 0.5s;
    border-radius: 10px;
}

.primary-button:hover {
    background-color: transparent;
    border-color: #1500ff;
    color: #000000;
    border-width: 2px;
}


/* .primary-button {
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 6px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 2px solid #1500ff;
    cursor: pointer;
    background-color: #1500ff;
    color: white;
    transition: all 0.5s ease;
}

.primary-button span {
    z-index: 1;
    transition: all 0.3s ease-out;
    margin: 0 5px;
}

.primary-button::after,
.primary-button::before {
    width: 0%;
    height: 0%;
    content: "";
    position: absolute;
    border-radius: 100%;
}

.primary-button::after {
    transition: all 0.5s ease;
    background-color: #ffffff;
}

.primary-button::before {
    transition: all 0.5s ease-out;
    background: #1500ff;
}

.primary-button:hover {
    color: #1500ff;
    transform: translateY(-5px);
}

.primary-button:hover:after,
.primary-button:hover:before {
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.primary-button:hover:after {
    transition: all 0.7s ease-in;
}

.primary-button:hover:before {
    transition: all 0.5s ease-in;
} */